In [1]:
from IPython.display import HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [4]:
### List Comprehension - Add 1 to all elements in a list

#new_list = [new_item for item in list]
list = [1, 2, 3]

#Without List Comprehension
new_list = []
for item in list:
    new_item = item + 1
    new_list.append(new_item)
print(new_list)

#With List Comprehension
list = [1, 2, 3]
new_list = [item+1 for item in list]
print (new_list)

[2, 3, 4]
[2, 3, 4]

In [5]:
## Separate letters in a string
name = 'Ananth'
[char for char in name]

['A', 'n', 'a', 'n', 't', 'h']

In [6]:
## Double numbers in a list
[num*2 for num in range(1,5)]

[2, 4, 6, 8]

In [7]:
## Conditiona List Comprehension
# new_list = [new_item for item in list if test]

## Find names with length more than 6

names = ['Ananth','Sriram','Srivalli','Sindhuja']
[name for name in names if len(name) > 6]

['Srivalli', 'Sindhuja']

In [8]:
## Change names to Upper Case if length more than 6

names = ['Ananth','Sriram','Srivalli','Sindhuja']
[name.upper() for name in names if len(name) > 6]

['SRIVALLI', 'SINDHUJA']

In [9]:
## Squaring Numbers

numbers = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55]
[num*num for num in numbers]

[1, 1, 4, 9, 25, 64, 169, 441, 1156, 3025]

In [10]:
## Filtering Even Numbers

numbers = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55]
[num for num in numbers if num % 2 == 0]

[2, 8, 34]

In [11]:
#Data Overlap

list1 = [3, 6, 13, 5, 7, 89, 12, 3, 33, 34, 1, 344, 42]
list2 = [3, 6, 5, 8, 33, 12, 7, 4, 72, 2, 42, 13]

#result = [3, 6, 5, 33, 12, 7, 42, 13]

[num for num in list1 if num in list2]

[3, 6, 13, 5, 7, 12, 3, 33, 42]

In [10]:
## Dictionary Comprehension

#new_dict = {new_key:ney_value for key,value in dict.items() if test}
import random

names = ['Ananth','Sriram','Srivalli','Sindhuja']
student_scores = {name:random.randint(1,100) for name in names}
print (student_scores)

passed_students = {key:'Pass' for key,value in student_scores.items() if value > 40}
print (passed_students)

{'Ananth': 43, 'Sriram': 33, 'Srivalli': 13, 'Sindhuja': 95}
{'Ananth': 'Pass', 'Sindhuja': 'Pass'}

In [11]:

sentence = "What is the Airspeed Velocity of an Unladen Swallow?"
result = {word:len(word) for word in sentence.split()}
print (result)

{'What': 4, 'is': 2, 'the': 3, 'Airspeed': 8, 'Velocity': 8, 'of': 2, 'an': 2, 'Unladen': 7, 'Swallow?': 8}

In [13]:
weather_c = {
    "Monday" : 12,
    "Tuesday" : 14,
    "Wednesday" : 15,
    "Thursday" : 14,
    "Friday" : 21,
    "Saturday" : 22,
    "Sunday" : 24,
}

weather_f = {key:(value * 9/5)+32 for key,value in weather_c.items()}
print (weather_f)

{'Monday': 53.6, 'Tuesday': 57.2, 'Wednesday': 59.0, 'Thursday': 57.2, 'Friday': 69.8, 'Saturday': 71.6, 'Sunday': 75.2}

In [18]:
## Iterate over Pandas Dataframe

import pandas as pd

students_dict = {
    "student" : ['Ananth','Srivalli','Sindhuja'],
    "score" : [73,85,97]
}
df = pd.DataFrame(students_dict)
print (df)

    student  score
0    Ananth     73
1  Srivalli     85
2  Sindhuja     97

In [19]:
## Loop through Dataframe
for index,row in df.iterrows():
    print (row)

student    Ananth
score          73
Name: 0, dtype: object
student    Srivalli
score            85
Name: 1, dtype: object
student    Sindhuja
score            97
Name: 2, dtype: object

In [22]:
## NATO Alphabet Project

alphabet_df = pd.read_csv('Day_26_nato_phonetic_alphabet.csv')
alphabet_dict = {row['letter']:row['code'] for index,row in alphabet_df.iterrows()}

name = input("Enter a name : ")
nato_list = [alphabet_dict[char] for char in name.upper()]
print (nato_list)

Enter a name : Ananth
['Alfa', 'November', 'Alfa', 'November', 'Tango', 'Hotel']